@model WebApplicationSistemaPesquisaFinal.Models.TB_Alternativas

@{
    ViewBag.Title = "Editar Alternativa";
}
@*<div class="jumbotron">
    <p><img src="~/Imagens/logo_liquigas_CMYK.png" class="img-responsive" /></p>
</div>*@
<h2>Editar Alternativa</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>Editar Alternativa</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.AlternativaId)

        <div class="form-group">
            @*@Html.LabelFor(model => model.QuestaoId, "QuestaoId", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Questão</label>
            <div class="col-md-10">
                @Html.DropDownList("QuestaoId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.QuestaoId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @* @Html.LabelFor(model => model.Alternativa, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Alternativa</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Alternativa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Alternativa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar para Lista", "Index")
</div>
