@*@model IEnumerable<WebApplicationSistemaPesquisaFinal.Models.TB_Alternativas>*@
@model PagedList.IPagedList<WebApplicationSistemaPesquisaFinal.Models.TB_Alternativas>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Alternativas";
}

<h2>Alternativas</h2>
@using (Html.BeginForm("Index", "TB_Alternativas", FormMethod.Get))
{
    <p>
        @Html.DropDownList("SearchPesquisa", (SelectList)ViewBag.Titulo)
        @Html.TextBox("SearchString", ViewBag.SearchString as string)
        <input type="submit" value="Pesquisar" />
    </p>
}

<p>
    @Html.ActionLink("Nova Alternativa", "Create")
</p>
<table class="table">
    <tr>
        <th><label>Pesquisa</label></th>
        <th><label>Questão</label></th>
        <th><label>Alternativa</label></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.TB_Questoes.TB_Pesquisa.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TB_Questoes.Questao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alternativa)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.AlternativaId }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.AlternativaId }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.AlternativaId })
            </td>
        </tr>
    }

</table>
Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, SearchString = ViewBag.SearchString, SearchPesquisa = ViewBag.SearchPesquisa }))
