@model WebApplicationSistemaPesquisaFinal.Models.TB_Participantes

@{
    ViewBag.Title = "Excluir Participante";
}
@*<div class="jumbotron">
    <p><img src="~/Imagens/logo_liquigas_CMYK.png" class="img-responsive" /></p>
</div>*@
<h2>Excluir Participante</h2>

<h3>Confirma a exclusão do Participante?</h3>
<div>
    @*<h4>Excluir Participante</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.TB_Pesquisa.Titulo)*@
            <label>Pesquisa</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_Pesquisa.Titulo)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Nome)*@
            <label>Nome</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Email)*@
            <label>E-mail</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
@if (ViewBag.Perfil == 1 || ViewBag.Perfil == 2 || ViewBag.Perfil == 4)
{
        <dt>
            @*@Html.DisplayNameFor(model => model.Email)*@
            <label>RDM</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RDM)
        </dd>
}
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para Lista", "Index")
        </div>
    }
</div>
