@*@model PagedList.IPagedList<WebApplicationSistemaPesquisaFinal.Models.ViewUsuaPopuli>*@
@model PagedList.IPagedList<WebApplicationSistemaPesquisaFinal.WCFPopulisHom.V_ACESSO_GRCAC_FUNCIONARIOS_GERAL>




                            
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<meta http-equiv="X-UA-Compatible" content="IE=11; IE=10; IE=9; IE=8; IE=7; IE=EDGE; FF=5; OtherUA=4; chrome=5" />

@{
    ViewBag.Title = "Pesquisas";
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">@TempData["Message"]</div>
}
@using (Html.BeginForm("GroupEmail", "TB_Participantes", FormMethod.Get, new { @id = "GroupEmailSearch" }))
{
    <div class="form-group">
        @Html.Label("Grupo", new { @class = "control-label" })
        <div class="input-group">
            <span class="input-group-btn">
                @Html.DropDownList("Sigla", (SelectList)ViewBag.Sigla, new { @class = "form-control" })
                <input type="submit" value="Pesquisar" class="btn btn-default" />
            </span>
        </div>
    </div>
}

@using (Html.BeginForm("GroupEmail", "TB_Participantes", FormMethod.Post, new { @id = "GroupEmailRegister" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("Sigla", (string)ViewBag.SearchPesquisa)
    <table class="table table-hover">
        <tr>
            <th></th>
            <th><label>Nome</label></th>
            <th><label>Chave</label></th>
            <th><label>Grupo</label></th>
        </tr>
        @foreach (var item in Model)
        {
            if (item.CHAVE != null)
            {
                
            <tr>
                <td><input type="checkbox" name="Id" value="@item.ID_PESSOA" /></td>
                <td>@Html.DisplayFor(m => item.NOME_PESSOA)</td>
                <td>@Html.DisplayFor(m => item.CHAVE)</td>
                <td>@Html.DisplayFor(m => item.SIGLA)</td>
            </tr>
            }
        }
    </table>
    <div class="form-group">
        @Html.Label("Pesquisa", new { @class = "control-label" })
        <div class="input-group">
            <span class="input-group-btn">
                @Html.DropDownList("Pesquisa", (SelectList)ViewBag.Pesquisa, new { @class = "form-control" })
                <input type="submit" value="Cadastrar" id="save" class="btn btn-default" />
            </span>
            <span class="input-group-btn">
                <input type="submit" value="Cadastrar todos" id="saveAll" class="btn btn-default btn-warning pull-right" />
            </span>
        </div>
    </div>
}
Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("GroupEmail",
    new { page, SearchPesquisa = ViewBag.SearchPesquisa }))

@section scripts{
    <script>
        $(function () {
            activeButton();
            $('input[name=Id], #Pesquisa').on('change', activeButton);

            $('#saveAll').on('click', function (e) {
                var question = confirm('Deseja cadastrar todos os participantes do grupo?');
                !question && e.preventDefault();
            })
        })

        function activeButton() {
            var checked = $('input[name=Id]:checked').length > 0;
            var selected = $('#Pesquisa').val() != '0';
            var group = $('select#Sigla').val() != 'Selecione';

            $('#save').prop('disabled', !checked || !selected)
            $('#saveAll').prop('disabled', !selected || !group)
        }
    </script>
}