@model WebApplicationSistemaPesquisaFinal.Models.TB_Questoes

@{
    ViewBag.Title = "Editar Questão";
}
@*<div class="jumbotron">
    <p><img src="~/Imagens/logo_liquigas_CMYK.png" class="img-responsive" /></p>
</div>*@
<h2>Editar Questão</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>Editar Questão</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.QuestaoId)

        <div class="form-group">
            @*@Html.LabelFor(model => model.PesquisaId, "PesquisaId", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Pesquisa</label>
            <div class="col-md-10">
                @Html.DropDownList("PesquisaId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PesquisaId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Questao, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Questão</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Questao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Questao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.TipoRespostaId, "TipoRespostaId", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Tipo de Resposta</label>
            <div class="col-md-10">
                @Html.DropDownList("TipoRespostaId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TipoRespostaId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Obrigatorio, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Obrigatório</label>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.CheckBox("Obrigatorio")
                    @Html.ValidationMessageFor(model => model.Obrigatorio, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar para Lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
