@model WebApplicationSistemaPesquisaFinal.Models.ViewRelatorio

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ViewRelatorio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataEnvio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEnvio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataResposta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataResposta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeDias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeDias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInicialPesquisa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicialPesquisa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFinalPesquisa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFinalPesquisa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
