@*@model IEnumerable<WebApplicationSistemaPesquisaFinal.Models.TB_Pesquisa>*@
@model PagedList.IPagedList<WebApplicationSistemaPesquisaFinal.Models.TB_Pesquisa>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Pesquisas";
}
@*<div class="jumbotron">
    <p><img src="~/Imagens/logo_liquigas_CMYK.png" class="img-responsive" /></p>
</div>*@
<h2>Pesquisas</h2>

<p>
    @Html.ActionLink("Nova Pesquisa", "Create")
</p>


@using (Html.BeginForm("Index", "TB_Pesquisa", FormMethod.Get))
{
    <p>
        @Html.DropDownList("SearchPesquisa", (SelectList)ViewBag.Titulo)
        @Html.TextBox("SearchString", ViewBag.SearchString as string)
        <input type="submit" value="Pesquisar" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Título", "Index", new { sortOrder = ViewBag.TituloSortParm })
        </th>
        <th>
            @Html.ActionLink("Descrição", "Index", new { sortOrder = ViewBag.DescricaoSortParm })
        </th>
        </tr>
        

        @foreach (var item in Model)
        {
             <tr>        
                 
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.PesquisaId }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.PesquisaId }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.PesquisaId })
            </td>
        </tr>
    }

</table>
Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
 new { page, sortOrder = ViewBag.CurrentSort, SearchString = ViewBag.SearchString, SearchPesquisa = ViewBag.SearchPesquisa }))
